*{
  border-radius: 10px;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: url("clouds.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
div {
  text-align: center;
  /* border: solid 2px red; */
}
#app {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 80%;
  margin-top: 50px;
  /* height: 80%; */
  background: linear-gradient(
    45deg,
    rgba(135, 228, 245, 0.8),
    rgba(11, 48, 58, 0.5)
  );
  box-shadow: 0px 0px 20px black;
  backdrop-filter: blur(2px);
  border-radius: 20px;
  color: #ffffff;
  /* justify-content: center; */
  align-items: center;
  /* grid-gap: 1em; */
  font-size: 1em;
  font-family: "Oswald", sans-serif;
}

.holder {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-between;
  /* border: solid 2px; */
  margin: 10px;
  text-align: center;
}

.entry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(59, 74, 107, 0.4);
}

#entryHolder {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

#date {
  width: 200px;

}

#temp {
  width: 200px;

}
#name {
  min-width: 200px;

}

#content {
  width: 200px;

}
.display{
  background-color: blueviolet;
}

.headline {
  margin-top: 40px;
  font-size: 2em;
  /* background-color: darkblue; */
}
.title {
  display: block;
  /* background-color: darkblue; */
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 18px;
  /* background-color: darkblue; */
}

input {
  display: block;
  height: 40px;
  text-align: center;
  /* width: 320px; */
  background: #22b2da88;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
  padding: 10px;
}

button {
  /* display: block; */
  width: 300;
  height: 50px;
  background: #3b4a6b;
  color: #f0d43a;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  /* border: none; */
  padding: 10px;
  box-shadow: 2px 4px 5px rgb(22, 21, 21);
}
h1 {
  font-size: 28px;
}

textarea {
  background: #22b2da88;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-align: ;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}
